################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Oefening1/.learningtransport/audit
/Oefening1/.vs/Oefening1/DesignTimeBuild
/Oefening1/.vs/Oefening1/v16
/Oefening1/.vs/Oefening1/v17
